In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
school_data = Path("Resources/schools_complete.csv")
student_data= Path("Resources/students_complete.csv")

In [3]:
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

In [5]:
school_data_base = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_base.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Calculate the total number of unique schools
school_count = school_data_base["school_name"].nunique()
school_count

15

In [9]:
# Calculate the total number of students
student_count = school_data_base["student_name"].count()
student_count

39170

In [11]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [12]:
# Calculate the average (mean) math score
average_math_score = school_data_base["math_score"].mean()
average_math_score

78.98537145774827

In [13]:
# Calculate the average (mean) reading score
average_reading_score = school_data_base["reading_score"].mean()
average_reading_score

81.87784018381414